@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("See all Students", "Index", "Students")</p>
<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
<h1>Welcome to JenDelHen University!</h1>