@{
 Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student;
@using UniversityRegistrar.Models;

<h2>Student Details</h2>

<h3>Student: @Html.DisplayFor(model => model.Name)</h3>
<h3>Date of Enrollement: @Html.DisplayFor(model => model.Enrollment)</h3>